* {
  box-sizing: border-box;
}

hmtl, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #7acc97;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.container {
  width: 512px;
  height: 512px;
  margin: 35px auto;
  counter-reset: horizontal, vertical;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 0 -2px;
  outline: 1px solid #ccc;
  border-radius: 0;
  background: #fff;
}

input[type="checkbox"]:before, input[type="checkbox"]:after {
  position: absolute;
  top: -16px;
  left: 3px;
  color: #fff;
  font-size: 10px;
}

input[type="checkbox"]:nth-child(n+1):nth-child(-n+32) {
  counter-increment: horizontal;
  counter-reset: vertical 1;
}

input[type="checkbox"]:nth-child(n+1):nth-child(-n+32):before {
  content: counter(horizontal);
}

input[type="checkbox"]:nth-child(32n+1) {
  counter-increment: vertical;
}

input[type="checkbox"]:nth-child(32n+1):after {
  top: 2px;
  left: -18px;
  width: 16px;
  content: counter(vertical);
  text-align: center;
}

.colors {
  margin: 25px auto 0;
  text-align: center;
}

.colors h3 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.7;
  font-family: sans-serif;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

/*.cal td {
  padding: 0 2px;
  line-height: 100%;
}
